/*CSS file for the about page */

/* Table of contents
    1. Concepts
    2. Objectives
    3. Partners
*/

/* 1. CONCEPTS  */

.concepts {
    position: relative;
    top: 50px;
    background-color: #def5ff;
}



.concepts .concepts-info h2 {
    font-family: 'poppins';
    color:rgb(3, 52, 85);
    text-align: center;
    position: relative;
    top: 40px;
    background-color: #dde6ed00;
    width: 100%;
    height: 90px;
    padding-top: 30px;
    font-size: 40px;
    margin-bottom: 20px;
    
}


.concepts .concepts-description h3 {
    text-align: center;
    color: #8c9597;
    font-size:16px;
    font-family: "lato";
    position: relative;
    top: 20px;
    background-color: #dde6ed00;
    width: 100%;
    height: 90px;
    padding-top: 10px;
    
}

.concepts .first_concept h3, .concepts .second_concept h3, .concepts .third_concept h3  {
    text-align: center;
    color: #8c9597;
    font-family: "lato";
    font-size:16px;
    position: relative;
    top: 20px;
    background-color: #dde6ed00;
    width: 100%;
    padding-top: 10px;
    
}

.concepts .first_concept h2, .concepts .second_concept h2, .concepts .third_concept h2{
    font-family: 'poppins';
    color:rgb(3, 52, 85);
    text-align: center;
    position: relative;
    top: 40px;
    background-color: #dde6ed00;
    width: 100%;
    height: 90px;
    padding-top: 30px;
    
}

.concepts .first_concept h2{
    color: rgb(214, 78, 78);
}
.concepts .first_concept h2:hover{
    color: rgb(179, 6, 6);
}


.concepts .second_concept h2{
    color: rgb(241, 210, 1);
}
.concepts .second_concept h2:hover{
    color: rgb(172, 151, 20);
}

.concepts .third_concept h2{
    color: rgb(44, 35, 179);
}
.concepts .third_concept h2:hover{
    color: rgb(20, 17, 65);
}

.column{
     
     background-color:#def5ff;
     float:left;
     text-align: center;
     padding: 0px 5px 60px 5px;
     width:33.01%;
     border: 1px solid #4f95b3;
     margin-right:3px;
     margin-left:3px;
     margin-top:10px;

}

.column:nth-child(1):hover{
transform:translateY(-5px);
box-shadow: 10px #888888;
    
}



 .first_concept .column i, .second_concept .column i, .third_concept .column i{
    margin-top: 20px;
    font-size: 30px;

}

.first_concept .column i{
    color: rgb(214, 78, 78);
}
.first_concept .column i:hover{
    color: rgb(179, 6, 6);
}

.second_concept .column i {
    color: rgb(241, 210, 1);
}
.second_concept .column i:hover {
    color: rgb(172, 151, 20);
}

.third_concept .column i{
    color: rgb(44, 35, 179);
}
.third_concept .column i:hover{
    color: rgb(20, 17, 65);
}