*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------Header-Nav Styling--------------- */

header {
    /* background-color: #24252a; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 6%;
    transition: 0.8s;
    position: fixed;
    background-color: #4995A3;
    width: 100%;
    z-index: 1;
}
header.sticky{
    padding: 0 6%;
    background-color: #0b4856;
}
.logo {
    margin-right: auto;
    text-decoration:none;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links a,
.cta,
.overlay__content a {
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #0088a9;
}
  
.cta {
    margin-left: 20px;
    padding: 9px 25px;
    /* background-color: rgba(0, 136, 169, 1); */
    border: 3px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.menu{
    background-color: white;
    color: black;
}
.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* DropDown Menu */

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
   
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
li .fa{
      color: white;
      padding-left: 6px;
  }
  /*
  ----------------Form and contact section style ----------------
  */
.container .contact-info {
    margin-left: 85px;
    margin-top: 30px;
}
.location-info{
    position: relative;
    width: 100%;
    top: 69px;
    text-align: center;
    min-height: 141px;
    background-color: #f4f4f47a
}
.location-info .txt{
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    color: rgba(0, 0, 0, 0.5);
}

section {
    background-color: #f4f4f47a;
}
.contact {
    position: relative;
    min-height: 200px;
    padding: 20px;
    display: flex;
    top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact  h4{
    font-size: 25px;
    font-family: poppins;
    color: #4995A3;
    margin-top: 20px;
}
.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.container .contact-info {
    font-size: 14px;
    display: flex;
    margin-bottom: 111px;
    flex-direction: column;
    width: 60%;
    margin-left: 187px;
    margin-top: 80px;
}
.text {
    float: left;
}
.container .contact-info .box {
    padding: 15px 0;
    position: relative;
    display: flex;
}
.container .contact-info .box .text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #0088a9;
}
.container .contact-info .box .icon {
    font-size: 20px;
    color: #4995A3;
    float: left;
    width: 50px;
    height: 50px;
    background: #ecf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.container .contact-info .box .icon:hover{
    background: #4995A3;
    color: #fff
}
.container .contact-info .box .text p {
    font-size: 15px;
    color: #546871;
}


.form {
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    margin-right: 150px;
}

.form .input {
    position: relative;
    padding-bottom: 8px;
}
.form .input1 {
    display: flex;
}
.form .input1 .input #nameErr {
    position: absolute;
    left: 0px;
    bottom: -5px;
    font-size: 16px;
    color: red;
    visibility: hidden;
}
.form .input input,
.form .input textarea
{
    margin: 5px 0;
    width: 310.5px;
    color: rgb(73, 80, 87);
    border: 2px solid #e0dede;
    outline: none;
    padding: 0.385rem 0.75rem;
    background-color: inherit;
    height: 44px;
    font-size: 16px;
    border-radius: 4px;
    
}
#textarea{
    width: 635px;
    margin-top: 20px;
    height: 148px;
    resize: vertical;
    padding-top: 17px;
    font: 100 16.3333px Arial;
}
.form .input input:focus,
.form .input textarea:focus {
    border-bottom: 3px solid #4995A3;
    background-color: #f0efed;
}


.form .input input[type = "submit"]
{
    width: 135px;
    background-color: none;
    border: 2px solid #4995A3;
    cursor: pointer;
    border-radius: 25px;
    background-color: #4995A3;
    margin-left: 240px;
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.8s ease;
    margin-top: 10px;
}
.form .input input[type = "submit"]:hover {
    background-color: #e85454;
    width: 130px;
    border-radius: 5px;
}
.form .input1 #id1 #mailErr {
    position: absolute;
    left: 30px;
    bottom: -5px;
    font-size: 16px;
    color: red;
    visibility: hidden;

}
.form .input #subjErr {
    position: absolute;
    left: 0px;
    color: red;
    font-size: 16px;
    visibility: hidden;
}
.form .input #MessErr {
    position: absolute;
    left: 0px;
    font-size: 18px;
    color: red;
    visibility: hidden;
}
.form #radioErr {
    color: red;
    font-size: 16px;
    visibility: hidden;
}


/***********************************
Footer
************************************/
.footer {
    padding: 60px 0 20px;
    background: #2D3B41;
    color: #f7dada;
    font-size: 13px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    margin-top: 59px;
  }
  .footer a {
    color: #fff;
  }
  
  .footer h3{
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 0 0 40px;
  font-size: 24px;
  }
  
  .footer .social-links li a {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    -webkit-transition: all .3s ease-out;
  }
  .footer .social-links li {
    display: inline-block;
    margin: 0 25px 25px;
    -webkit-transition: all .3s ease-out;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .footer .social-links li:hover {
      background-color: #7d7a7a;
      transform: translateY(-8px);
  }
  .footer .social-links {
    list-style: none;
    padding: 0;
    margin: 30px 0 40px;
    padding: 40px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

/*
-------------Animation on scroll --------------------
*/
@keyframes anim1 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to 
    {
        transform: translateY(0px);
        opacity: 1;
    }
}
