*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Montserrat',sans-serif;
}
  
  /*===========================================Banner*/
  .banner{
    height: 175px;
    position: relative;
    background-image: linear-gradient(62deg, #10637b 0%, #4995A3 68%);
  }

.banner img{
    width: 31%;
    height: 253px;
    margin-top: 4%;
    margin-left: 50%;
    border-radius: 0.5rem;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
.banner h1{
    position: relative;
    width: 27%;
    top: 104%;
    left: 21%;
    color: rgb(255 255 255 / 52%);
}
@keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
/*-------------Main Styling--------------------*/
main{
    margin: 0 10% ;
}
h2{
    color: #2D3B41;
}
#hidden {
    display: none;
}

table{
    margin: 5% 0%;
    margin-left: -3%;
    
    width: 100%;
    border-collapse: collapse;
}

.field {
    
    margin-left: 5%;
    margin-right: 5%;
}

.label{
    height: 25px;
    width: 100%;
    color: white;
    background-color: #2D3B41;
    border: 1px solid #E2CBA0;
}

.label p{
    font-size: 0.85em;

    padding: 5px;
}

.text  {
    height: 35px;
    width: 100%;
    background-color: #E1EAED;
    font-size: 1.1em;
    color: #0D153C;
    border: 1px solid #E2CBA0;
    border-top: 0px;
    padding-left: 1%;
    box-shadow: 5px 5px 15px #E2CBA0;
}

td{
    padding-top: 30px;
    border-bottom: 1px solid #4995A3;;
    padding-bottom: 30px;
    width: 50%;
}
#items_table h3{
    text-align: center;
}


.buttons {
    width: 25px;
    height: 25px;
}

.textarea{
    width: 100%;
    height: auto;
    border: 1px solid #E2CBA0;
    
}
#reasonHidden, #foundHidden
{
    display: none;
}

.checkBoxes{
    display: inline;
    float:left;
    padding-left: 5px;
}

#tellUsWhyHidden{
    display: none;
}

tfoot .field{
    width: 70%;
    margin-left: 2.5%;
    
    
}

tfoot div{
    width: 20%;
    display: inline;
    float: left;
    
}

[type=text],[type=date],[type=tel],select,textarea,[type^="sub"],[type^="res"]{
    box-shadow: 0px 0px 10px inset rgba(13, 21, 60,0.7);
    font-size: 1.1em;
    box-shadow: 5px 5px 15px #E2CBA0;
}

[type$="mit"],[type=reset]{
    color: #14293c;
    border: 3px solid #14293c;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    font-family: 'Montserrat',sans-serif;
    width: 120px;
    font-size: 14.4px;
    letter-spacing: 1.5px;
}

[type~=submit]:hover,[type=reset]:hover
{
    background-color: rgba(0, 136, 169, 0.8);
    color: #3e4142;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.testimonials{
    width: 45%;
    text-align: center;
    display:block;
    margin:7% 0 3% 27%;
    vertical-align: middle;
    border: 2px solid #14293c;
}

fieldset{
    border-color: #4995A3;
}

span{
    -webkit-transform: 
    -moz-transform: 
    -ms-transform: 
    -o-transform: 
    transform: 
}

#smileFace{
    -webkit-transition: transform 2s, transform 2s;
    -moztransition: transform 2s, transform 2s;
    -ms-transition: transform 2s, transform 2s;
    -o-transition: transform 2s, transform 2s;
    transition: transform 2s, transform 2s;    
}

.reachedMax{ 
    -webkit-transform: rotate(-180deg) scale(1.5,1.5) translate(-50px,-10px) ;
    -moz-transform: rotate(-180deg) scale(1.5,1.5) translate(-50px,-10px) ;
    -ms-transform: rotate(-180deg) scale(1.5,1.5) translate(-50px,-10px) ;
    -o-transform: rotate(-180deg) scale(1.5,1.5) translate(-50px,-10px) ;
    transform: rotate(-180deg) scale(1.5,1.5) translate(-50px,-10px) ;
    
}
.error {
    background-color: rgb(255, 0, 25,0.2) ;
    box-shadow: 5px 5px 25px lightcoral;
        
}

#moreInfo {
    font-size: 0.7em;
    padding-bottom: 5px;
}

#moreInfo:hover{
    font-size: 0.75em;
    
}
