body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
    position:relative;
    height:100%;
    display:flex;
  overflow:hidden;
  align-items: center;
  justify-content: center;
    /* background: url(./pic.jpg) no-repeat center center/cover; */
    /* align-items: center; */
}
.video-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:-2;
}
.switch-btn{
    position:absolute;
    left:0%;
    bottom:0%;
    width:7rem;
    height:2rem;
    display:flex;
    /* border-radius:radius; */
    align-items: center;
    justify-content: space-around;
    border:none;

}
.switch-btn span{
    display: inline-block;
    font-size: 0.85rem;
    cursor:pointer;
    text-transform: capitalize;
    color:#3498db;
}
.switch{
    position: absolute;
    width: 50%;
    height: 100%;
    top:0;
    left:0;
    background:#3498db;
    margin:0;
    display: block;
   
}
.slide .switch{
    left:50%;
}

.color-overlay{
    position:absolute;
    top:0;
    left:0;
    background-color: lightblue;
    width:100%;
    height:100%;
    opacity: 0.5;
    z-index:-1;
}

#main h1,
p {
    margin-bottom: 1rem;
}

#main a {
    width: 130px;
}

.header-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.header-container h1 {
    font-size: 55px;
}

.header-container p {
    width: 400px;
    padding-bottom: 40px;
}

.header-container a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    background: green;
    width: 100px;
    color: white;
}
.header-container a:hover{
    background: url("./air.jpg");
    background-position: center;
}

#info {
    display: grid;
    grid-template-areas: 'sidebar box-1 box-2' 
                         'sidebar box-3 box-4';
    grid-gap: 2rem;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.paragraph {
    margin-bottom:50px;
}
#left-bar p{
    width:500px;
}
#left-bar {
    grid-area: sidebar;
}

#left-bar h2{
    font-size: 22px;
    text-align: left;
}
.text-container h4{
    text-align: center;
    font-size: 20px;
}
#box-1 {
    grid-area: box-1;
}

#box-2 {
    grid-area: box-2;
}

#box-3 {
    grid-area: box-3;
}

#box-4 {
    grid-area: box-4;
}
#left-bar a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    background: green;
    width: 100px;
    color: white;
}
.title{
    margin-bottom: 80px;
    padding-top: 50px;
    text-align: center;
}

.p3{
    margin-top:100px;
}
.heading{
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
   
}
h2{
    text-align: center;
}
h6{
    margin-bottom:0px;
}
.Box{
    padding:30px;
    background-color: white;   
}
.Box:hover{
    background-color:rgba(49, 81, 89, 1)
    }
.Box p:hover{
        color:white;
        
    }
.text-container h4{
        text-align: left;
    }
.text-container a{
        color:black;
        text-decoration: none;
    
    }
.text-container a:visited{
        color:purple;
    }
.text-container i{
        font-size: small;
    }
    
.box .text-container p{
        width: 200px;
    }
.title p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
#info2{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 80%;
    margin: auto;
    position:relative;
}
#Info{
    background:linear-gradient(rgba(93, 177, 207, 0), rgba(93, 177, 207,0.3 ));
    padding-bottom:20px;
}
#info2 div{
    position: relative;
}
#info2 div::after{
    content:"";
    background:rgba(49, 81, 89, 1);
    width:100%;
    height:100%;
    position:absolute;
    /* box-sizing: border-box; */
    top:-10px;
    left:-10px; 
    z-index:-2;
    transition:all 0.3s linear;
}

 #info2:hover div::after{
    top:0;
    left:0;
}

#id{
    width: 100%;
    height: 100vh;
    background: url("./air.jpg") no-repeat center center/cover;
}
#h3{
    width:100%;
    height:70vh;
    display:block;
}
.img{
    float:left;
    width: 50%;
    height: 70vh;
    background: url("./img/newsneventsAirPolution.jpg") no-repeat center center/cover;


}
.icon{
    display: block;
    position: relative;
    float:right;
    width: 50%;
    height:100%;
    text-align: center; 
    padding-top:110px;
    font-size: 1.2rem;
  
}
.icon i{
    font-size: small;
}

.icon a{
    text-decoration: none;
    color: black;
    margin:auto;
    padding: 0.5rem 1rem;
    background: green;
    width: 140px;
    color: white;
}

.icon h2{
    font-size: 2rem;
}
.icon p{
    width:500px;
    margin:20px auto;
}
.icon{
    margin: 10px 0px;
}
li{
    list-style-type: none;
}

@media screen and (max-width:500px){
    #info2{
        grid-template-columns: repeat(1, 1fr);
        text-align:center;
    }
 }
 @media screen and (max-width:500px){
    
     .img{
         width:100%;
         text-align: center;
         display:block;
     }
     .icon{
         width:100%;
         text-align:center;
         display:center;
     }
 }
