*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /*Styling Text with infos about our company */
  .description {
      background-color: rgb(236, 236, 236);
  }
  .description .text {
      text-align: center;
      margin-bottom: 30px;
  }
  .description .text h1 {
      font-size: 30px;
      font-family: poppins;
      padding-top: 30px;
  }
  .description .info {
      text-align: center;
      margin-right: 80px;
      margin-left: 80px;
      margin-bottom: 30px;

  }
  hr {
      color: red;
      margin-left: 80px;
      margin-right: 80px;
      font-weight: bold;
      margin-bottom: 30px;
  }
  .description .info p {
      font-family: poppins;
      font-size: 18px;
      padding-bottom: 5px;
  }
  .description .info span {
      color: orangered;
      font-weight: bold;
  }
  .description2 .text h3 {
      font-size: 25px;
      font-family: poppins;
  }

  .cards-text {
      margin-top: 30px;
      text-align: center;
  }
  /* ------ Styling Cards Section -------------- */
  .cards {
      display: flex;
  }
  .card1 {
    background-color: transparent;
    width: 400px;
    height: 400px;
    margin-left: 30px;
    margin-top: 30px;
    perspective: 1000px;
  }
  .card1 .flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
  }
  
  /* Do an vertical flip when you move the mouse over the card */
  .card1:hover .flip-card{
    transform: rotateX(-180deg);
  }
  
  /* Position the front and back side */
  .card1-front, .card1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .card1-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(-180deg);
    vertical-align: middle;
    font-family: poppins;
  }
  .card1-back p::before {
      content: 'css ';
  }
  .card2-back p::before {
      content: 'css ';
  }
  .card2 {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .card2 .flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card2:hover .flip-card{
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card2-front, .card2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .card2-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    vertical-align: middle;
    font-family: poppins;
  }
  /* --------- Styling list ---------------*/
  .list-description {
      margin-top: 30px;
      text-align: center;
  }
  .list-description h1 {
      font-size: 30px;
      font-family: poppins;
      color: rgb(6, 77, 95);
  }
  .lists {
      margin-left: 70px;
      margin-top: 30px;
  }
  .lists ol {
      margin-left: 70px;
  }
  .lists ol li {
      font-size: 25px;
      color: rgb(6, 77, 95);
  }
  .lists ol li ul {
      margin-left: 50px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .lists ol li .a li {
      list-style-type:square;
  }
  .lists ol li .b li {
    list-style-type: disc;
}
.lists ol li .c li {
    list-style-type: circle;
}
.lists ol li .d li {
    list-style-type: lower-alpha;
}
/*Animation for javascript effect on lists*/
@keyframes anim2 {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to 
    {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*----------Styling table ----------------------- */
.table-info {
    text-align: center;
    margin-top: 30px;

}
.table-info h1 {
    font-size: 25px;
    font-family: poppins;
}
.table {
    margin-top: 30px;
    margin-left: 300px;
    text-align: center;
}
table {
    box-shadow: 5px gray;
    cursor: pointer;
    box-shadow: 5px 10px #888888;
}
table , td, th {
    padding: 15px;
}
th {
    background-color: blue;
    color: white;
}
tr:nth-child(odd) {
    background-color: lightblue
}
tr:nth-child(odd):hover {
    background-color: dodgerblue;
    transform: scale(1.3);
    transition: all 0.5s ease;
    color: white;
}
tr:nth-child(even) {
    background-color: #ededed
}
tr:nth-child(even):hover {
    background-color: lightgray;
    transform: scale(1.3);
    transition: all 0.5s ease;
    color: black;
}
td {
    font-size: 18px;
    font-family: poppins;
}

/*-------------Styling description lists----------------- */

.dl-text {
    margin-top: 30px;
    text-align: center;
}
.dl-text {
    font-size: 25px;
    color: cornflowerblue;
    font-family: poppins;
}
.dl {
    margin-top: 30px;
    margin-left: 300px;
    font-size: 20px;
    font-family: poppins;
}
.dl dt {
    font-weight: bold;
}
.dl dd {
    margin-left: 40px;
}
.covid-text {
    margin-top: 30px;
    text-align: center;
}
.covid-text h1 {
    font-size: 30px;
    font-family: poppins;
    color: red;
}
/* Styling faces and making the hover effect for the sad face on hover effect */
.faces {
    margin-top: 30px;
    position: relative;
    display: flex;
}
.faces .face {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    margin: 0px 20px 0px 230px;

}
.faces .face:before {
    content: '';
    position: absolute;
    bottom: 70px;
    right: 75px;
    width: 150px;
    height: 40px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color: black;
}
.faces .face:hover:before {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 20px;
}
.faces .face:hover {
    background:linear-gradient(180deg, #eb362a, #ffcc00);
    transition: all 0.5s ease;
}
.faces .face .eyes {
    position: relative;
    display: flex;
    top: 50px;
    left: 35px;
}
.faces .face .eyes .eye {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 15px;
    margin-left: 15px;
}
.faces .face .eyes .eye:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    top: 25px;
    left: 20px;
    justify-content: center;
}
/*----------Styling the svg smiley face---------- */
.face1 {
    fill: yellow;
}
.face1:hover {
    fill:linear-gradient(180deg, #eb362a, #ffcc00);
}
.mouth {
    fill: none;
    stroke: black;
    stroke-width: 4px;   
}
.message {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
}
.message .svg {
    padding-bottom: 20px;
}
.message .svg svg {
    margin-left: 50%;
}
.message .text {
    margin-top: 60px;
    text-align: center;
    margin-left: 80px;
}
.message .text h1 {
    font-style: italic;
    text-decoration: underline;
}


