@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f47a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    /* min-height: 100vh; */
}

.container,
.container1 {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 40px; */
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.text {
    margin-left: 13%;
    font-size: 30px;
    font-family: 'Jura', sans-serif;
    padding: 10rem 0 0 0;
}

.main__content {
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.text p {
    width: 600px;
    color: rgb(180, 238, 225);
}

span {
    opacity: 0;
    transition: all 0.6 ease;
    transform: translateY(10px);
}

span.fade {
    opacity: 1;
    color: #53ccd4;
}


/* .text button {
    border-radius: 500px;
    color: white;
} */

.gallery {
    display: grid;
    width: 1108px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    transition: 0.5s all ease-in-out;
    margin-top: 50px;
}

.gallery .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    padding-top: 1rem;
    border-style: solid;
    border-radius: 5%;
    height: 300px;
    width: 320px;
}

.gallery img {
    width: 150px;
    border-radius: 50%;
}

.btn {
    padding: 0.7rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #333;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.4s ease;
}

.btn:hover {
    background: rgb(143, 143, 143);
    cursor: pointer;
}

.gallery h1 {
    color: black;
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0;
}

.gallery p {
    color: black;
    font-size: 1rem;
    margin: 0 0 2rem 0;
}

@media (max-width:764px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}

@media (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}