*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;
}
/* --------------Header-Nav Styling--------------- */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 6%;
    transition: 0.8s;
    position: fixed;
    /* background-color: #4995A3; */
    width: 100%;
    z-index: 2;
}

/* Header Sticky Style----while scrolling---*/

header.sticky{
    padding: 0 6%;
    background-color: #F5F5F5;
}

header.sticky{
    padding: 0 6%;
    background-color: #F5F5F5;
}

header.sticky span{
    color: #5f5353!important;
}

header.sticky .cta{
    border: 3px solid #5d5b5b;
    color: #595c65;
}

header.sticky .menu{
    background-color: #75c1ce;
}

header.sticky .nav__links a{
    color: #595c65;
}

header.sticky li .fa{
    color: black;
}
/*-------------------------------------------*/

.logo {
    margin-right: auto;
    text-decoration:none;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links a,
.cta,
.overlay__content a {
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #3e4142;
}
  
.cta {
    margin-left: 20px;
    padding: 9px 25px;
    border: 3px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu{
    background-color: white;
    color: black;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
    color: #3e4142;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

/* DropDown Menu */

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
   
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: #4995A3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
li .fa{
      color: white;
      padding-left: 6px;
}

/* --------------Header-Nav Finish --------------- */